		*{margin: 0 ;padding:0;}
		body{font-size: 12px;line-height: 1.7;}
		#content{margin: 0 auto;width: 800px;padding: 20px;}
		#content h1{color: #0088bb;}
		li{list-style: none;}
		#content .floor li 
		{
			display: inline;
			margin-right: 10px;
            

		}
		#content .floor li img
		{
			width: 230px;
            height: 230px;
            border: none;
        }
        #content .floor
        {
        	border: 1px dotted #0088bb;
        	padding: 20px;
        	margin-bottom: 20px;
        }
        #content .floor h2{
        	font-size: 16px;
        	font-weight: bold;
        	border-bottom: 2px solid #0088bb;
        	margin-bottom: 10px;
        }
        #menu{
            position: fixed;
        	left: 50%;
        	margin-left: 400px;
        	width: 100px;
        	top: 100px;
        }
        #menu ul li a {
        	text-decoration: none;
        	font-size: 16px;
        	color: #333;
        	margin: 5px 0;
        	line-height: 50px;
        	font-weight: bold;
        	text-align: center;
        	width: 80px;
        	display: block;
        }
        #menu ul li a:hover,
        #menu ul li a.current{
        	color: #fff;
            background: #0088bb;}